@charset "UTF-8";
/*! lixinjie 20170731 github.com/xinjie-just/hongyan-phone.git */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
blockquote,
pre,
textarea,
fieldset,
figure,
ul,
ol,
dl,
dd,
menu {
  margin: 0; }

input,
textarea,
button,
select,
option,
fieldset,
legend,
ul,
ol,
menu,
th,
td {
  padding: 0; }

hr,
progress,
input,
textarea,
button,
select,
fieldset {
  border: 0; }

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }
  @media (min-width: 1200px) {
    html {
      font-size: 16px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    html {
      font-size: 15px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    html {
      font-size: 14px; } }
  @media (max-width: 767px) {
    html {
      font-size: 13px; } }

*, *:before, *:after {
  box-sizing: border-box; }

body, #header, .banner,
.media, .work, #footer {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto; }

body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: #000;
  background: #eee url("../images/body-bg-image.png") repeat;
  font-family: "Microsoft Yahei", Arial, sans-serif; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

/* ===链接=== */
a {
  color: #000;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none; }
  a:focus, a:active, a:hover {
    outline-width: 0;
    text-decoration: none; }

/* ===文本=== */
abbr[title] {
  border-bottom: none;
  text-decoration: underline; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

article h1,
section h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* ===嵌入式内容=== */
img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

/* ===分组内容=== */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1rem; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

/* ===表单=== */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }
  button:focus,
  html [type="button"]:focus,
  [type="reset"]:focus,
  [type="submit"]:focus {
    outline: none; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* ===表格=== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th {
  text-align: left; }

/* ===列表=== */
ol,
ul {
  list-style-type: none; }

/* ===关于浮动=== */
.clearfix:before, #header:before, .tab:before, .innovation:before, .cooperation ul:before, #footer .footer-wrapper:before, #quickNav > ul:before, #quickNav > .quickSubMenu:before, #quickNav > .quickSubMenu ul:before, .map-list:before, .talk-recommend:before, #puretabs .tab-list:before {
  content: "";
  display: table; }
.clearfix:after, #header:after, .tab:after, .innovation:after, .cooperation ul:after, #footer .footer-wrapper:after, #quickNav > ul:after, #quickNav > .quickSubMenu:after, #quickNav > .quickSubMenu ul:after, .map-list:after, .talk-recommend:after, #puretabs .tab-list:after {
  content: "";
  display: table;
  clear: both; }

/*快捷样式*/
figure {
  overflow: hidden; }
  figure a {
    display: block; }
  figure img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto; }

label {
  margin-bottom: 0;
  cursor: pointer; }
  label:hover {
    opacity: .8; }

.work img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto; }

/*validate错误提示*/
label.error {
  color: #f00;
  display: block;
  margin-bottom: 5px; }

#errorTips {
  display: block;
  color: #f00;
  visibility: hidden; }

/*===英文字体===*/
@font-face {
  font-family: "scalasans";
  src: url("../fonts/ScalaSans.otf"), url("../fonts/scalasans-webfont.woff"), url("../fonts/scalasans-webfont.woff2"); }
.special-fonts,
.en {
  font-family: "scalasans" !important; }

/*===首页===*/
/*头部*/
#header {
  position: relative;
  background-color: #eee;
  padding-right: 4.25rem;
  padding-left: 4.25rem; }
  #header .logo {
    float: left;
    position: relative;
    width: 13.75rem;
    height: 6.25rem; }
    #header .logo i {
      display: block;
      font-size: 2.8rem;
      color: #000;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }

@media (max-width: 47.9375rem) {
  #header .logo {
    width: 9rem; }
    #header .logo i {
      font-size: 1.8rem; } }
/*导航*/
@media (min-width: 75rem) {
  #nav {
    float: right; }
    #nav > ul {
      display: block; }
      #nav > ul > li {
        z-index: 9;
        width: 5rem;
        position: relative;
        height: 6.25rem;
        float: left;
        margin-right: 2rem; }
        #nav > ul > li:last-of-type {
          margin-right: 0; }
        #nav > ul > li > a {
          position: relative;
          display: block;
          width: auto;
          height: 6.25rem;
          line-height: 5.95rem;
          font-size: 1rem;
          border-bottom: 1px solid transparent;
          overflow: hidden;
          transition: all 0.6s linear 0s; }
          #nav > ul > li > a strong {
            z-index: 2;
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 5.95rem;
            line-height: 5.95rem;
            font-weight: normal;
            color: #000;
            text-transform: capitalize;
            text-align: center;
            transition: all 0.6s linear 0s; }
            #nav > ul > li > a strong:first-of-type {
              top: 0;
              font-size: .9em; }
            #nav > ul > li > a strong:last-of-type {
              top: 5.95rem; }
          #nav > ul > li > a:hover, #nav > ul > li > a.active {
            border-bottom-width: .3rem;
            border-bottom-color: #000; }
            #nav > ul > li > a:hover strong, #nav > ul > li > a.active strong {
              color: #f7ac3b; }
              #nav > ul > li > a:hover strong:first-of-type, #nav > ul > li > a.active strong:first-of-type {
                top: -5.95rem; }
              #nav > ul > li > a:hover strong:last-of-type, #nav > ul > li > a.active strong:last-of-type {
                top: 0; }
        #nav > ul > li > ul {
          z-index: 99;
          display: none;
          position: absolute;
          top: 6.25rem;
          left: 0;
          border-top: 1px solid #000;
          border-bottom: 1px solid #000;
          background-color: rgba(255, 255, 255, 0.8); }
          #nav > ul > li > ul li {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000; }
          #nav > ul > li > ul a {
            display: block;
            padding: .8rem;
            font-size: 0;
            transition: all 0.6s linear 0s; }
            #nav > ul > li > ul a:hover {
              background-color: #f7ac3b; }
            #nav > ul > li > ul a::before, #nav > ul > li > ul a::after {
              content: "";
              display: table; }
            #nav > ul > li > ul a::after {
              clear: both; }
            #nav > ul > li > ul a strong {
              font-size: .9375rem; }
              #nav > ul > li > ul a strong:first-of-type {
                float: left;
                text-align: left; }
              #nav > ul > li > ul a strong:last-of-type {
                float: right;
                text-align: right; }
        #nav > ul > li.projects > ul {
          width: 17rem; }
        #nav > ul > li.pure > ul {
          width: 7.5rem; }
    #nav > .menu-icon {
      display: none; } }
@media (max-width: 74.9375rem) {
  #header {
    padding-right: 3rem;
    padding-left: 3rem; }

  #nav > ul {
    z-index: 9;
    display: none;
    position: absolute;
    top: 6.25rem;
    left: 0;
    width: 100%;
    background-color: #fff; }
    #nav > ul > li {
      width: 100%;
      height: 4.25rem; }
      #nav > ul > li > a {
        display: block;
        width: 100%;
        height: 4.25rem;
        line-height: 4.25rem;
        font-size: 1rem;
        background-color: #000;
        color: #fff;
        border-bottom: 1px solid #666;
        padding-right: 3rem;
        padding-left: 3rem; }
        #nav > ul > li > a::before, #nav > ul > li > a::after {
          content: "";
          display: table; }
        #nav > ul > li > a::after {
          clear: both; }
        #nav > ul > li > a strong {
          display: block;
          width: 50%;
          font-weight: normal;
          text-transform: capitalize; }
          #nav > ul > li > a strong:first-of-type {
            float: left;
            text-align: left; }
          #nav > ul > li > a strong:last-of-type {
            float: right;
            text-align: right; }
        #nav > ul > li > a:hover, #nav > ul > li > a.active {
          background-color: #f7ac3b;
          border-bottom-color: #f7ac3b; }
      #nav > ul > li > ul {
        display: none; }
      #nav > ul > li.projects > ul {
        width: 17rem; }
      #nav > ul > li.pure > ul {
        width: 7.5rem; }
  #nav > .menu-icon {
    display: block;
    float: right;
    width: 6.25rem;
    height: 6.25rem;
    line-height: 6.25rem;
    text-align: right;
    cursor: pointer; }
    #nav > .menu-icon i {
      font-size: 3rem;
      color: #000; } }
@media (max-width: 47.9375rem) {
  #nav > .menu-icon i {
    font-size: 2rem; } }
/*主要内容*/
.banner,
.media {
  z-index: 3;
  position: relative;
  margin-bottom: 12.5rem;
  overflow: hidden; }

.banner img,
.media video {
  z-index: 4;
  display: block;
  width: 100%;
  height: 100%; }

@media (max-width: 47.9375rem) {
  .banner,
  .media {
    margin-bottom: 10rem; } }
/*未来空间产品定义者*/
.future-space-definer {
  z-index: 9;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: -15rem;
  display: block;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 75rem) {
    .future-space-definer {
      width: 67.5rem; } }
  @media (min-width: 62rem) and (max-width: 74.9375rem) {
    .future-space-definer {
      width: 60.625rem; } }
  @media (min-width: 48rem) and (max-width: 61.9375rem) {
    .future-space-definer {
      width: 46.875rem; } }
  @media (max-width: 47.9375rem) {
    .future-space-definer {
      width: 87.5%; } }
  .future-space-definer h2 {
    width: 28.125rem;
    height: 25rem;
    padding: 1rem 2.375rem;
    border-top: 0.625rem solid #000;
    border-bottom: 0.625rem solid #000;
    background-color: #fff;
    color: #000;
    line-height: 1.1;
    overflow-y: auto; }
    .future-space-definer h2 span {
      display: block; }
      .future-space-definer h2 span:first-of-type {
        font-size: 5.4375rem;
        text-transform: uppercase; }
      .future-space-definer h2 span:last-of-type {
        margin-top: .8rem;
        font-size: .875rem;
        letter-spacing: .3em; }

@media (max-width: 47.9375rem) {
  .future-space-definer {
    margin-top: 1rem; }
    .future-space-definer h2 {
      width: 100%;
      height: auto;
      border-top: 3px solid #000;
      border-bottom: 3px solid #000; }
      .future-space-definer h2 span:first-of-type {
        font-size: 2rem; } }
@media (max-width: 47.9375rem) {
  .projects .grid,
  .projects > div,
  .ideas .grid,
  .ideas > div,
  .pure .grid,
  .pure > div {
    width: 100%; } }

/*度假模式*/
.holiday-mode {
  z-index: 3;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-bottom: 1.25rem; }
  @media (min-width: 75rem) {
    .holiday-mode {
      width: 67.5rem; } }
  @media (min-width: 62rem) and (max-width: 74.9375rem) {
    .holiday-mode {
      width: 60.625rem; } }
  @media (min-width: 48rem) and (max-width: 61.9375rem) {
    .holiday-mode {
      width: 46.875rem; } }
  @media (max-width: 47.9375rem) {
    .holiday-mode {
      width: 87.5%; } }
  .holiday-mode img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto; }
  .holiday-mode .content {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.5rem 1.75rem; }
    .holiday-mode .content:hover h2 {
      background-color: #f7ac3b;
      color: #fff; }
    .holiday-mode .content:hover h3 span {
      background-color: #f7ac3b; }
    .holiday-mode .content:hover .label .classify {
      border-color: #f7ac3b;
      background-color: #f7ac3b;
      color: #fff; }
    .holiday-mode .content:hover .label .details {
      border-color: #f7ac3b;
      background-color: rgba(255, 255, 255, 0.6);
      color: #f7ac3b; }
    .holiday-mode .content h2 {
      display: inline-block;
      background-color: #000;
      color: #fff;
      line-height: 1.2;
      margin-bottom: 1rem;
      font-size: 2.25rem;
      font-weight: normal;
      text-transform: capitalize;
      padding: .2em .6em;
      transition: all 0.6s linear 0s; }
    .holiday-mode .content h3 {
      margin-bottom: 1.5rem;
      font-size: 0; }
      .holiday-mode .content h3 span {
        display: inline-block;
        background-color: #000;
        color: #fff;
        font-weight: normal;
        padding: .2em .6em;
        transition: all 0.6s linear 0s; }
        .holiday-mode .content h3 span:first-of-type {
          font-size: 1rem;
          line-height: 1.4; }
        .holiday-mode .content h3 span:last-of-type {
          font-size: .75rem;
          line-height: 1.6; }
    .holiday-mode .content .label {
      font-size: 0; }
      .holiday-mode .content .label strong {
        line-height: 1.5;
        font-size: .875rem;
        display: inline-block;
        vertical-align: middle;
        padding: .2em .6em;
        text-transform: capitalize;
        transition: all 0.6s linear 0s; }
      .holiday-mode .content .label .classify {
        border-color: #000;
        background-color: #000;
        color: #fff; }
      .holiday-mode .content .label .details {
        border-color: #000;
        background-color: rgba(255, 255, 255, 0.6);
        color: #000; }

@media (max-width: 47.9375rem) {
  .holiday-mode {
    height: auto; }
    .holiday-mode .content {
      padding: 1.25rem .875rem; }
      .holiday-mode .content h2 {
        margin-bottom: .6rem;
        font-size: 1.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .holiday-mode .content h3 {
        margin-bottom: .6rem; } }
/*瀑布流布局的一些内容*/
.grid {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3.5rem; }
  @media (min-width: 75rem) {
    .grid {
      width: 67.5rem; } }
  @media (min-width: 62rem) and (max-width: 74.9375rem) {
    .grid {
      width: 60.625rem; } }
  @media (min-width: 48rem) and (max-width: 61.9375rem) {
    .grid {
      width: 46.875rem; } }
  @media (max-width: 47.9375rem) {
    .grid {
      width: 87.5%; } }
  .grid li {
    margin-bottom: 1.25rem;
    background-color: #fff; }
    @media (min-width: 48rem) {
      .grid li {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%; } }
    .grid li img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-right: auto;
      margin-left: auto; }

@media (min-width: 75rem) {
  .grid {
    width: 68.85rem; } }
@media (min-width: 62rem) and (max-width: 74.9375rem) {
  .grid {
    width: 61.8375rem; } }
@media (min-width: 48rem) and (max-width: 61.9375rem) {
  .grid {
    width: 47.8125rem; } }
@media (max-width: 47.9375rem) {
  .grid li {
    width: 100%;
    margin-bottom: 0; } }
.outside .content {
  padding: .5rem 1.5rem 2rem;
  border-top: 0.2rem solid #000;
  transition: all 0.6s linear 0s; }
  .outside .content:hover {
    border-top-color: #f7ac3b; }
    .outside .content:hover h2 {
      color: #f7ac3b; }
    .outside .content:hover h3 {
      margin-bottom: 1.5rem;
      font-size: 0; }
      .outside .content:hover h3 span {
        color: #f7ac3b; }
    .outside .content:hover .label .classify {
      border-color: #f7ac3b;
      background-color: #f7ac3b; }
    .outside .content:hover .label .details {
      border-color: #f7ac3b;
      color: #f7ac3b; }
  .outside .content h2 {
    display: inline-block;
    color: #000;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: normal;
    text-transform: capitalize;
    padding: .2em 0;
    transition: all 0.6s linear 0s; }
  .outside .content h3 {
    margin-bottom: 1.5rem;
    font-size: 0;
    transition: all 0.6s linear 0s; }
    .outside .content h3 span {
      display: inline-block;
      color: #000;
      font-weight: normal;
      padding: .2em .6em;
      transition: all 0.6s linear 0s; }
      .outside .content h3 span:first-of-type {
        font-size: 1rem;
        line-height: 1.4; }
      .outside .content h3 span:last-of-type {
        font-size: .75rem;
        line-height: 1.6; }
  .outside .content .label {
    font-size: 0; }
    .outside .content .label strong {
      height: 1.75rem;
      line-height: 1.75rem;
      font-size: .875rem;
      display: inline-block;
      vertical-align: middle;
      padding-right: .6em;
      padding-left: .6rem;
      text-transform: capitalize; }
    .outside .content .label .classify {
      border: 1px solid #000;
      background-color: #000;
      color: #fff;
      transition: all 0.6s linear 0s; }
    .outside .content .label .details {
      border: 1px solid #000;
      background-color: rgba(255, 255, 255, 0.6);
      color: #000;
      transition: all 0.6s linear 0s; }

.inside {
  z-index: 3;
  position: relative;
  margin-bottom: 1.25rem;
  overflow: hidden; }
  .inside img {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%; }
  .inside .content {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.5rem 1.75rem;
    transition: all 0.6s linear 0s; }
    .inside .content:hover h2 {
      background-color: #f7ac3b; }
    .inside .content:hover h3 span {
      background-color: #f7ac3b; }
    .inside .content:hover .label .classify {
      border-color: #f7ac3b;
      background-color: #f7ac3b; }
    .inside .content:hover .label .details {
      border-color: #f7ac3b;
      color: #f7ac3b; }
    .inside .content h2 {
      display: inline-block;
      background-color: #000;
      color: #fff;
      line-height: 1.2;
      margin-bottom: 1rem;
      font-size: 2.25rem;
      font-weight: normal;
      text-transform: capitalize;
      padding: .2em .6em;
      transition: all 0.6s linear 0s; }
    .inside .content h3 {
      margin-bottom: 1.5rem;
      font-size: 0;
      transition: all 0.6s linear 0s; }
      .inside .content h3 span {
        display: inline-block;
        background-color: #000;
        color: #fff;
        font-weight: normal;
        padding: .2em .6em;
        transition: all 0.6s linear 0s; }
        .inside .content h3 span:first-of-type {
          font-size: 1rem;
          line-height: 1.4; }
        .inside .content h3 span:last-of-type {
          font-size: .75rem;
          line-height: 1.6; }
    .inside .content .label {
      font-size: 0; }
      .inside .content .label strong {
        height: 1.75rem;
        line-height: 1.75rem;
        font-size: .875rem;
        display: inline-block;
        vertical-align: middle;
        padding-right: .6em;
        padding-left: .6rem;
        text-transform: capitalize; }
      .inside .content .label .classify {
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        transition: all 0.6s linear 0s; }
      .inside .content .label .details {
        border: 1px solid #000;
        background-color: rgba(255, 255, 255, 0.6);
        color: #000;
        transition: all 0.6s linear 0s; }

/*菜单切换*/
.tab {
  margin-bottom: 2.5rem;
  display: block;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 75rem) {
    .tab {
      width: 67.5rem; } }
  @media (min-width: 62rem) and (max-width: 74.9375rem) {
    .tab {
      width: 60.625rem; } }
  @media (min-width: 48rem) and (max-width: 61.9375rem) {
    .tab {
      width: 46.875rem; } }
  @media (max-width: 47.9375rem) {
    .tab {
      width: 87.5%; } }
  .tab a {
    display: block;
    margin-bottom: .5rem;
    width: 30%;
    float: left;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border: 1px solid #000;
    color: #000;
    transition: all 0.6s linear 0s; }
    .tab a:not(:last-of-type) {
      margin-right: 5%; }
    .tab a strong {
      display: block;
      height: 2rem;
      line-height: 2rem;
      font-size: .875rem; }
      .tab a strong:last-of-type {
        display: none; }
    .tab a:hover {
      border-color: #f7ac3b;
      color: #f7ac3b; }
      .tab a:hover strong:first-of-type {
        display: none; }
      .tab a:hover strong:last-of-type {
        display: block; }

@media (max-width: 61.9375rem) {
  .tab a {
    font-size: 0; }
    .tab a strong {
      font-size: .875rem;
      vertical-align: middle; }
      .tab a strong:first-of-type {
        display: inline-block;
        margin-right: 1rem; }
      .tab a strong:last-of-type {
        display: inline-block; }
    .tab a:hover strong:first-of-type {
      display: inline-block; }
    .tab a:hover strong:last-of-type {
      display: inline-block; } }
@media (max-width: 47.9375rem) {
  .tab a {
    height: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
    float: none; } }
/*辛勤工作的人*/
.work {
  z-index: 3;
  position: relative;
  margin-bottom: 18.125rem; }
  .work img {
    z-index: 4; }
  .work h2 {
    z-index: 9;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 67.5rem;
    height: 18.75rem;
    background-color: #fff;
    border-top: 0.625rem solid #000;
    border-bottom: 0.625rem solid #000;
    padding: .6rem 1rem;
    letter-spacing: .1em;
    overflow-y: auto;
    font-weight: 500; }
    @media (min-width: 75rem) {
      .work h2 {
        width: 67.5rem; } }
    @media (min-width: 62rem) and (max-width: 74.9375rem) {
      .work h2 {
        width: 60.625rem; } }
    @media (min-width: 48rem) and (max-width: 61.9375rem) {
      .work h2 {
        width: 46.875rem; } }
    @media (max-width: 47.9375rem) {
      .work h2 {
        width: 87.5%; } }
    @media (min-width: 48rem) {
      .work h2 {
        position: absolute;
        bottom: -14.375rem;
        left: 50%;
        transform: translate(-50%); } }
    .work h2 span {
      display: block;
      color: #000;
      text-transform: capitalize; }
      .work h2 span:first-of-type {
        font-size: 3.4375rem;
        line-height: 1.3; }
      .work h2 span:last-of-type {
        margin-top: .8rem;
        font-size: .875rem;
        line-height: 1.5;
        letter-spacing: .3em; }

@media (min-width: 48rem) and (max-width: 61.9375rem) {
  .work h2 {
    height: auto;
    bottom: -12.375rem; }
    .work h2 span:first-of-type {
      font-size: 3rem; } }
@media (max-width: 47.9375rem) {
  .work {
    z-index: 3;
    position: static;
    margin-bottom: auto; }
    .work h2 {
      position: static;
      display: block;
      margin-right: auto;
      margin-left: auto;
      height: auto;
      background-color: #fff;
      border-top: 3px solid #000;
      border-bottom: 3px solid #000;
      bottom: auto;
      margin-top: 1rem;
      margin-bottom: 7rem; } }
    @media (max-width: 47.9375rem) and (min-width: 75rem) {
      .work h2 {
        width: 67.5rem; } }
    @media (max-width: 47.9375rem) and (min-width: 62rem) and (max-width: 74.9375rem) {
      .work h2 {
        width: 60.625rem; } }
    @media (max-width: 47.9375rem) and (min-width: 48rem) and (max-width: 61.9375rem) {
      .work h2 {
        width: 46.875rem; } }
    @media (max-width: 47.9375rem) and (max-width: 47.9375rem) {
      .work h2 {
        width: 87.5%; } }
@media (max-width: 47.9375rem) {
      .work h2 span {
        display: block;
        color: #000;
        text-transform: capitalize; }
        .work h2 span:first-of-type {
          font-size: 2rem;
          line-height: 1.3; }
        .work h2 span:last-of-type {
          font-size: .875rem;
          line-height: 1.5;
          letter-spacing: .3em; } }
/*创新*/
.innovation {
  display: block;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 75rem) {
    .innovation {
      width: 67.5rem; } }
  @media (min-width: 62rem) and (max-width: 74.9375rem) {
    .innovation {
      width: 60.625rem; } }
  @media (min-width: 48rem) and (max-width: 61.9375rem) {
    .innovation {
      width: 46.875rem; } }
  @media (max-width: 47.9375rem) {
    .innovation {
      width: 87.5%; } }
  .innovation li {
    float: left;
    width: 33.33333333%; }
    .innovation li:not(:last-of-type) {
      padding-right: 2.5rem; }
    .innovation li h3 {
      margin-bottom: 1.875rem; }
      .innovation li h3 strong {
        display: inline-block;
        text-transform: capitalize;
        color: #fff;
        font-weight: normal;
        transition: all 0.4s linear 0s; }
        .innovation li h3 strong:first-of-type {
          margin-bottom: .625rem;
          font-size: 0; }
          .innovation li h3 strong:first-of-type span {
            display: inline-block;
            line-height: 1.1;
            padding: .2em .6em;
            font-size: 2rem;
            background-color: #000;
            transition: all 0.4s linear 0s; }
        .innovation li h3 strong:last-of-type {
          font-size: 1rem;
          letter-spacing: .3em;
          padding: .2em .6em .2em .9em;
          line-height: 1.4;
          background-color: #000; }
      .innovation li h3:hover strong:first-of-type span {
        background-color: #f7ac3b; }
      .innovation li h3:hover strong:last-of-type {
        background-color: #f7ac3b; }
    .innovation li p {
      width: 100%;
      border-top: 0.3125rem solid #000;
      border-bottom: 0.3125rem solid #000;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: .875rem;
      line-height: 1.6;
      overflow-y: hidden;
      color: #000; }

@media (min-width: 75rem) {
  .innovation li p {
    height: 9.625rem; } }
@media (min-width: 62rem) and (max-width: 74.9375rem) {
  .innovation li p {
    height: 11.025rem; } }
@media (min-width: 48rem) and (max-width: 61.9375rem) {
  .innovation li p {
    height: 12.425rem; } }
@media (max-width: 47.9375rem) {
  .innovation li {
    float: none;
    width: 100%;
    margin-bottom: 2.5rem; }
    .innovation li:last-of-type {
      margin-bottom: 0; }
    .innovation li:not(:last-of-type) {
      padding-right: 0; } }
/*合作伙伴*/
.cooperation {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2.5rem; }
  @media (min-width: 75rem) {
    .cooperation {
      width: 67.5rem; } }
  @media (min-width: 62rem) and (max-width: 74.9375rem) {
    .cooperation {
      width: 60.625rem; } }
  @media (min-width: 48rem) and (max-width: 61.9375rem) {
    .cooperation {
      width: 46.875rem; } }
  @media (max-width: 47.9375rem) {
    .cooperation {
      width: 87.5%; } }
  .cooperation h3 {
    padding: .2em .6em;
    font-size: 2.25rem;
    line-height: 1.1;
    background-color: #000;
    color: #fff;
    margin-bottom: 1rem; }
  .cooperation ul li {
    margin: .8rem .3rem;
    float: left; }
    .cooperation ul li a {
      display: block;
      width: 12.5rem;
      height: 7.5rem;
      padding: .2rem;
      overflow: hidden;
      position: relative; }
      .cooperation ul li a img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .cooperation ul li a:hover img {
        opacity: .8; }

@media (max-width: 47.9375rem) {
  .cooperation ul li a {
    display: block;
    width: 7.8rem;
    height: 4.62rem; } }
/*底部*/
#footer {
  margin-top: 2rem;
  background-color: #000;
  color: #909090;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  #footer a {
    color: #909090; }
  #footer .footer-wrapper {
    display: block;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 75rem) {
      #footer .footer-wrapper {
        width: 67.5rem; } }
    @media (min-width: 62rem) and (max-width: 74.9375rem) {
      #footer .footer-wrapper {
        width: 60.625rem; } }
    @media (min-width: 48rem) and (max-width: 61.9375rem) {
      #footer .footer-wrapper {
        width: 46.875rem; } }
    @media (max-width: 47.9375rem) {
      #footer .footer-wrapper {
        width: 87.5%; } }
  #footer .footer-left {
    float: left; }
    #footer .footer-left small {
      display: block;
      font-size: .875rem;
      line-height: 1.714;
      color: #909090;
      text-transform: capitalize; }
  #footer .footer-right {
    float: right; }
    #footer .footer-right .follow > span {
      font-size: 1.375rem;
      font-weight: bold;
      text-transform: capitalize;
      margin-right: 1rem; }
    #footer .footer-right .follow > a {
      margin-right: .875rem; }
      #footer .footer-right .follow > a i {
        font-size: 1.5rem; }
    #footer .footer-right .follow > .weixin {
      display: inline-block;
      position: relative; }
      #footer .footer-right .follow > .weixin > i {
        font-size: 1.5rem; }
      #footer .footer-right .follow > .weixin .weixin-img {
        display: none;
        position: absolute;
        bottom: 2.625rem;
        right: 0;
        background-color: #fff;
        padding: .4em;
        font-size: .875rem; }
        #footer .footer-right .follow > .weixin .weixin-img img {
          display: block;
          width: 9rem;
          height: 9rem; }
    #footer .footer-right .other-info {
      margin-top: .875rem;
      line-height: 1.5; }
      #footer .footer-right .other-info p {
        font-size: .75rem;
        margin-bottom: .5em;
        text-decoration: underline; }

/*底部左侧快捷导航*/
#quickNav {
  margin-bottom: 1rem; }
  #quickNav > ul {
    border-bottom: 1px solid #808080;
    height: 34px; }
    #quickNav > ul li {
      float: left;
      margin-right: 2rem; }
      #quickNav > ul li:last-of-type {
        margin-right: 0; }
      #quickNav > ul li a {
        display: block;
        padding-right: .4em;
        padding-left: .4em;
        font-size: 1rem;
        height: 34px;
        line-height: 34px; }
        #quickNav > ul li a strong {
          display: block;
          color: #909090; }
          #quickNav > ul li a strong:last-of-type {
            display: none;
            color: #fff; }
          #quickNav > ul li a strong:last-of-type {
            display: none; }
  #quickNav > .quickSubMenu {
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-bottom: 1px solid #808080; }
    #quickNav > .quickSubMenu ul {
      float: left; }
      #quickNav > .quickSubMenu ul li {
        float: left; }
        #quickNav > .quickSubMenu ul li a {
          display: block;
          height: 34px;
          line-height: 34px;
          position: relative;
          padding-left: .4em;
          padding-right: .8em;
          font-size: .875rem; }
          #quickNav > .quickSubMenu ul li a:after {
            content: "/";
            font-size: 1rem;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%); }
          #quickNav > .quickSubMenu ul li a strong:last-of-type {
            display: none; }
      #quickNav > .quickSubMenu ul:first-of-type {
        width: 26.5rem; }
        #quickNav > .quickSubMenu ul:first-of-type li:nth-of-type(4) a:after, #quickNav > .quickSubMenu ul:first-of-type li:last-of-type a:after {
          content: ""; }
      #quickNav > .quickSubMenu ul:last-of-type {
        width: 4rem; }
        #quickNav > .quickSubMenu ul:last-of-type li a:after {
          content: ""; }

@media (max-width: 74.9375rem) {
  #footer {
    padding-top: 1rem;
    padding-bottom: 1rem; }

  #quickNav {
    display: none; }

  .footer-right .other-info {
    display: none; } }
/*回到顶部*/
#toTop {
  display: none;
  z-index: 9999;
  position: fixed; }
  @media (min-width: 75rem) {
    #toTop {
      bottom: 19.375rem;
      left: 50%;
      transform: translateX(33.75rem); } }
  @media (max-width: 74.9375rem) {
    #toTop {
      bottom: 50%;
      right: 1rem;
      transform: translateY(-50%); } }
  #toTop i {
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #000;
    color: #000;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
    transition: all 0.6s linear 0s; }
  #toTop:hover i {
    border-color: #f7ac3b;
    color: #f7ac3b; }

/*===联系我们===*/
#footer.contact-footer {
  margin-top: 0; }

.contact-main {
  background-color: #000;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.contact-heading {
  display: block;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.1;
  margin-bottom: 1.2rem;
  color: #fff; }
  @media (min-width: 75rem) {
    .contact-heading {
      width: 67.5rem; } }
  @media (min-width: 62rem) and (max-width: 74.9375rem) {
    .contact-heading {
      width: 60.625rem; } }
  @media (min-width: 48rem) and (max-width: 61.9375rem) {
    .contact-heading {
      width: 46.875rem; } }
  @media (max-width: 47.9375rem) {
    .contact-heading {
      width: 87.5%; } }
  .contact-heading h1 {
    font-size: 3.4375rem;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: .8rem; }
  .contact-heading h2 {
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: underline;
    letter-spacing: .2em; }

@media (max-width: 47.9375rem) {
  .contact-heading h1 {
    font-size: 2.4375rem; } }
.map-list {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-bottom: .3rem solid #606060;
  padding-bottom: 1rem; }
  @media (min-width: 75rem) {
    .map-list {
      width: 67.5rem; } }
  @media (min-width: 62rem) and (max-width: 74.9375rem) {
    .map-list {
      width: 60.625rem; } }
  @media (min-width: 48rem) and (max-width: 61.9375rem) {
    .map-list {
      width: 46.875rem; } }
  @media (max-width: 47.9375rem) {
    .map-list {
      width: 87.5%; } }
  .map-list li {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 1rem;
    color: #aeaeae; }
    .map-list li:last-of-type {
      margin-right: 0; }
    .map-list li .map {
      display: block;
      margin-bottom: 1rem;
      font-size: 20rem;
      color: #aeaeae;
      transition: all 0.6s linear 0s; }
      .map-list li .map:hover {
        color: #f7ac3b; }
    .map-list li .address-en {
      font-size: 1.125rem;
      line-height: 1.4;
      margin-bottom: .5rem; }
    .map-list li .address-cn {
      font-size: .875rem;
      line-height: 1.4;
      margin-bottom: .5rem; }
    .map-list li > a:not(.map) {
      display: block;
      font-size: .875rem;
      color: #afafaf;
      line-height: 1.6; }

@media (min-width: 62rem) and (max-width: 74.9375rem) {
  .map-list li .map {
    font-size: 18rem; } }
@media (min-width: 48rem) and (max-width: 61.9375rem) {
  .map-list li .map {
    font-size: 14rem; } }
@media (max-width: 47.9375rem) {
  .map-list li {
    float: none;
    width: 100%; } }
/*pure(访谈，新闻)*/
.talk-recommend > img {
  float: left;
  display: block;
  max-width: 100%;
  width: 55%;
  height: 100%; }
.talk-recommend > .text {
  background-color: #fff;
  float: right;
  width: 45%;
  border-top: 0.3rem solid #000;
  padding: 3rem; }
  .talk-recommend > .text h2 {
    font-weight: normal; }
    .talk-recommend > .text h2 span {
      display: block;
      color: #000; }
      .talk-recommend > .text h2 span.en {
        font-size: 2.25rem;
        line-height: 1.3;
        margin-bottom: .5rem; }
      .talk-recommend > .text h2 span.cn {
        font-size: 1.125rem;
        line-height: 1.5;
        margin-bottom: .3rem; }
  .talk-recommend > .text time {
    display: block;
    font-size: .875rem;
    font-style: italic;
    margin-bottom: 1.5rem; }
  .talk-recommend > .text p {
    display: inline-block;
    line-height: 2;
    font-size: .875rem;
    color: #000;
    margin-bottom: 1rem; }
  .talk-recommend > .text .read-all {
    display: inline-block;
    font-size: .875rem;
    color: #f7ac3b; }
  .talk-recommend > .text .more {
    display: block;
    width: 10rem;
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
    border: 1px solid #000;
    color: #000;
    font-size: 1.125rem;
    font-weight: lighter;
    transition: all 0.6s linear 0s; }
    .talk-recommend > .text .more:hover {
      border-color: #f7ac3b;
      color: #f7ac3b; }

@media (max-width: 47.9375rem) {
  .talk-recommend > img {
    float: none;
    width: 100%;
    height: auto; }
  .talk-recommend > .text {
    float: none;
    width: 100%; } }
/*pure列表*/
#puretabs .tab-nav {
  background-color: #000;
  width: 100%;
  height: 3.65rem; }
#puretabs .tab-list {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 3.65rem; }
  @media (min-width: 75rem) {
    #puretabs .tab-list {
      width: 67.5rem; } }
  @media (min-width: 62rem) and (max-width: 74.9375rem) {
    #puretabs .tab-list {
      width: 60.625rem; } }
  @media (min-width: 48rem) and (max-width: 61.9375rem) {
    #puretabs .tab-list {
      width: 46.875rem; } }
  @media (max-width: 47.9375rem) {
    #puretabs .tab-list {
      width: 87.5%; } }
  #puretabs .tab-list li {
    float: left;
    width: 33.33333333%;
    height: 3.65rem; }
    #puretabs .tab-list li a {
      display: block;
      width: 100%;
      height: 3.65rem;
      line-height: 3.65rem;
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 2rem;
      text-transform: capitalize; }
      #puretabs .tab-list li a:hover {
        color: #f7ac3b; }
#puretabs > div {
  display: none; }
  #puretabs > div:first-of-type {
    display: block; }

/*# sourceMappingURL=puyu.css.map */
