@charset "UTF-8";
/*! lixinjie 20170731 github.com/xinjie-just/hongyan-phone.git */
@import "variables";
@import "reboot";

/*===首页===*/
/*头部*/
#header {
  $size: 6.25rem;
  @extend %page;
  position: relative;
  background-color: #eee;
  padding-right: $size - 2rem;
  padding-left: $size - 2rem;
  @extend .clearfix;
  .logo {
    float: left;
    position: relative;
    width: 13.75rem;
    height: $size;
    i {
      display: block;
      font-size: 2.8rem;
      color: #000;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
@media (max-width: 47.9375rem) {
  #header {
    .logo {
      width: 9rem;
      i {
        font-size: 1.8rem;
      }
    }
  }
}
/*导航*/
@media (min-width: 62rem) {
  #nav {
    $size: 6.25rem;
    float: right;
    > ul {
      display: block;
      > li {
        z-index: 9;
        width: 5rem;
        position: relative;
        height: $size;
        float: left;
        margin-right: 2rem;
        &:last-of-type {
          margin-right: 0;
        }
        > a {
          $size: 6.25rem;
          $height: 6.25rem - .3rem;
          position: relative;
          display: block;
          width: auto;
          height: $size;
          line-height: $height;
          font-size: 1rem;
          border-bottom: 1px solid transparent;
          overflow: hidden;
          @include transition(0.6s);
          strong {
            z-index: 2;
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: $height;
            line-height: $height;
            font-weight: normal;
            color: $text-color;
            text-transform: capitalize;
            text-align: center;
            @include transition();
            &:first-of-type {
              top: 0;
              font-size: .9em;
            }
            &:last-of-type {
              top: $height;
            }
          }
          &:hover,
          &.active {
            border-bottom-width: .3rem;
            border-bottom-color: $text-color;
            strong {
              color: $main-color;
              &:first-of-type {
                top: -$height;
              }
              &:last-of-type {
                top: 0;
              }
            }
          }
        }
        > ul {
          z-index: 99;
          display: none;
          position: absolute;
          top: $size;
          left: 0;
          border-top: 1px solid $text-color;
          border-bottom: 1px solid $text-color;
          background-color: rgba(255, 255, 255, .8);
          li {
            border-top: 1px solid $text-color;
            border-bottom: 1px solid $text-color;
          }
          a {
            display: block;
            padding: .8rem;
            font-size: 0;
            @include transition();
            &:hover {
              background-color: $main-color;
            }
            &::before,
            &::after {
              content: "";
              display: table;
            }
            &::after {
              clear: both;
            }
            strong {
              font-size: .9375rem;
              &:first-of-type {
                float: left;
                text-align: left;
              }
              &:last-of-type {
                float: right;
                text-align: right;
              }
            }
          }
        }
        &.projects {
          > ul{
            width: 17rem;
          }
        }
        &.pure {
          > ul{
            width: 7.5rem;
          }
        }
      }
    }
    > .menu-icon {
      display: none;
    }
  }
}

@media (max-width: 61.9375rem) {
  #header {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  #nav {
    $size: 6.25rem;
    > ul {
      z-index: 9;
      display: none;
      position: absolute;
      top: $size;
      left: 0;
      width: 100%;
      background-color: #fff;
      > li {
        width: 100%;
        height: $size - 2rem;
        > a {
          $size: 6.25rem;
          $height: 6.25rem - .3rem;
          display: block;
          width: 100%;
          height: $size - 2rem;
          line-height: $size - 2rem;
          font-size: 1rem;
          background-color: $text-color;
          color: #fff;
          border-bottom: 1px solid #666;
          padding-right: 3rem;
          padding-left: 3rem;
          &::before,
          &::after {
            content: "";
            display: table;
          }
          &::after {
            clear: both;
          }
          strong {
            display: block;
            width: 50%;
            font-weight: normal;
            text-transform: capitalize;
            &:first-of-type {
              float: left;
              text-align: left;
            }
            &:last-of-type {
              float: right;
              text-align: right;
            }
          }
          &:hover,
          &.active {
            background-color: $main-color;
            border-bottom-color: $main-color;
          }
        }
        > ul {
          display: none;
        }
        &.projects {
          > ul {
            width: 17rem;
          }
        }
        &.pure {
          > ul {
            width: 7.5rem;
          }
        }
      }
    }
    > .menu-icon {
      display: block;
      float: right;
      width: $size;
      height: $size;
      line-height: $size;
      text-align: right;
      cursor: pointer;
      i {
        font-size: 3rem;
        color: $text-color;
      }
    }
  }
}
@media (max-width: 47.9375rem) {
  #nav {
    > .menu-icon {
      i {
        font-size: 2rem;
      }
    }
  }
}

/*主要内容*/
.banner,
.media {
  z-index: 3;
  @extend %page;
  position: relative;
  margin-bottom: 12.5rem;
}

.banner img,
.media video {
  z-index: 4;
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 47.9375rem) {
  .banner,
  .media {
    margin-bottom: 10rem;
  }
}

/*未来空间产品定义者*/
.future-space-definer {
  z-index: 9;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: -15rem;
  @include center-content();
  h2 {
    width: 28.125rem;
    height: 25rem;
    padding: 1rem 2.375rem;
    border-top: .625rem solid $text-color;
    border-bottom: .625rem solid $text-color;
    background-color: #fff;
    color: $text-color;
    line-height: 1.2;
    overflow-y: auto;
    span {
      display: block;
      &:first-of-type {
        font-size: 5.4375rem;
        text-transform: uppercase;
        word-break: break-all;
      }
      &:last-of-type {
        margin-top: .5rem;
        font-size: .875rem;
        letter-spacing: .3em;
      }
    }
  }
}
@media (max-width: 47.9375rem) {
  .future-space-definer {
    margin-top: 0;
    h2 {
      width: 100%;
      height: auto;
      border-top: 3px solid $text-color;
      border-bottom: 3px solid $text-color;
      span {
        &:first-of-type {
          font-size: 2rem;
        }
      }
    }
  }
}

/*度假模式*/
.holiday-mode {
  z-index: 3;
  @include center-content();
  position: relative;
  margin-bottom: 1.25rem;
  overflow: auto;
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .content {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.5rem 1.75rem;
    overflow: auto;
    &:hover {
      h2 {
        background-color: $main-color;
        color: #fff;
      }
      h3 {
        span {
          background-color: $main-color;
        }
      }
      .label {
        .classify {
          border-color: $main-color;
          background-color: $main-color;
          color: #fff;
        }
        .details {
          border-color: $main-color;
          background-color: rgba(255, 255, 255, .6);
          color: $main-color;
        }
      }
    }
    h2 {
      display: inline-block;
      background-color: $text-color;
      color: #fff;
      line-height: 1.2;
      margin-bottom: 1rem;
      font-size: 2.25rem;
      font-weight: normal;
      text-transform: capitalize;
      padding: .2em .6em;
      @include transition();
    }
    h3 {
      margin-bottom: 1.5rem;
      font-size: 0;
      span {
        display: inline-block;
        background-color: $text-color;
        color: #fff;
        font-weight: normal;
        padding: .2em .6em;
        @include transition();
        &:first-of-type {
          font-size: 1rem;
          line-height: 1.4;
        }
        &:last-of-type {
          font-size: .75rem;
          line-height: 1.6;
        }
      }
    }
    .label {
      font-size: 0;
      strong {
        line-height: 1.5;
        font-size: .875rem;
        display: inline-block;
        vertical-align: middle;
        padding: .2em .6em;
        text-transform: capitalize;
        @include transition();
      }
      .classify {
        border-color: $text-color;
        background-color: $text-color;
        color: #fff;
      }
      .details {
        border-color: $text-color;
        background-color: rgba(255, 255, 255, .6);
        color: $text-color;
      }
    }
  }
}
@media (max-width: 47.9375rem) {
  .holiday-mode {
    height: auto;
  }
}

/*瀑布流布局的一些内容*/
.grid {
  @include center-content();
  margin-bottom: 3.5rem;
  li {
    margin-bottom: 1.25rem;
    background-color: #fff;
    @media(min-width: 768px) {
      & {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
      }
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
/*@media (min-width: 75rem) {
  .grid {
    @include center-content(70.2rem);
  }
}
@media (min-width: 62rem) and (max-width: 74.9375rem) {
  .grid {
    @include center-content(62.8985rem);
  }
}
@media (min-width: 48rem) and (max-width: 61.9375rem) {
  .grid {
    @include center-content(48.5156rem);
  }
}*/

@media(max-width: 767px) {
  .grid li { width: 100%; }
}
.outside {
  .content {
    padding: .5rem 1.5rem 2rem;
    border-top: .2rem solid $text-color;
    @include transition();
    &:hover {
      border-top-color: $main-color;
      h2 {
        color: $main-color;
      }
      h3 {
        margin-bottom: 1.5rem;
        font-size: 0;
        span {
          color: $main-color;
        }
      }
      .label {
        .classify {
          border-color: $main-color;
          background-color: $main-color;
        }
        .details {
          border-color: $main-color;
          color: $main-color;
        }
      }
    }
    h2 {
      display: inline-block;
      color: $text-color;
      line-height: 1.2;
      margin-bottom: 1rem;
      font-size: 2.25rem;
      font-weight: normal;
      text-transform: capitalize;
      padding: .2em .6em;
      @include transition();
    }
    h3 {
      margin-bottom: 1.5rem;
      font-size: 0;
      @include transition();
      span {
        display: inline-block;
        color: $text-color;
        font-weight: normal;
        padding: .2em .6em;
        @include transition();
        &:first-of-type {
          font-size: 1rem;
          line-height: 1.4;
        }
        &:last-of-type {
          font-size: .75rem;
          line-height: 1.6;
        }
      }
    }
    .label {
      font-size: 0;
      strong {
        line-height: 1.5;
        font-size: .875rem;
        display: inline-block;
        vertical-align: middle;
        padding: .2em .6em;
        text-transform: capitalize;
      }
      .classify {
        border: 1px solid $text-color;
        background-color: $text-color;
        color: #fff;
        @include transition();
      }
      .details {
        border: 1px solid $text-color;
        background-color: rgba(255, 255, 255, .6);
        color: $text-color;
        @include transition();
      }
    }
  }
}
.inside {
  z-index: 3;
  position: relative;
  margin-bottom: 1.25rem;
  overflow: hidden;
  img {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
  .content {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.5rem 1.75rem;
    @include transition();
    &:hover {
      h2 {
        background-color: $main-color;
      }
      h3 {
        span {
          background-color: $main-color;
        }
      }
      .label {
        .classify {
          border-color: $main-color;
          background-color: $main-color;
        }
        .details {
          border-color: $main-color;
          color: $main-color;
        }
      }
    }
    h2 {
      display: inline-block;
      background-color: $text-color;
      color: #fff;
      line-height: 1.2;
      margin-bottom: 1rem;
      font-size: 2.25rem;
      font-weight: normal;
      text-transform: capitalize;
      padding: .2em .6em;
      @include transition();
    }
    h3 {
      margin-bottom: 1.5rem;
      font-size: 0;
      @include transition();
      span {
        display: inline-block;
        background-color: $text-color;
        color: #fff;
        font-weight: normal;
        padding: .2em .6em;
        @include transition();
        &:first-of-type {
          font-size: 1rem;
          line-height: 1.4;
        }
        &:last-of-type {
          font-size: .75rem;
          line-height: 1.6;
        }
      }
    }
    .label {
      font-size: 0;
      strong {
        line-height: 1.5;
        font-size: .875rem;
        display: inline-block;
        vertical-align: middle;
        padding: .2em .6em;
        text-transform: capitalize;
      }
      .classify {
        border: 1px solid $text-color;
        background-color: $text-color;
        color: #fff;
        @include transition();
      }
      .details {
        border: 1px solid $text-color;
        background-color: rgba(255, 255, 255, .6);
        color: $text-color;
        @include transition();
      }
    }
  }
}

/*菜单切换*/
.tab {
  margin-bottom: 2.5rem;
  @include center-content();
  @extend.clearfix;
  a {
    display: block;
    margin-bottom: .5rem;
    width: 30%;
    float: left;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border: 1px solid $text-color;
    color: $text-color;
    @include transition();
    &:not(:last-of-type) {
      margin-right: 5%;
    }
    strong {
      font-size: .875rem;
      &:first-of-type {

      }
      &:last-of-type {
        display: none;
      }
    }
    &:hover {
      border-color: $main-color;
      color: $main-color;
      strong {
        &:first-of-type {
          display: none;

        }
        &:last-of-type {
          display: block;
        }

      }
    }
  }
}
@media (max-width: 61.9375rem) {
  .tab {
    a {
      font-size: 0;
      strong {
        font-size: .875rem;
        vertical-align: middle;
        &:first-of-type {
          display: inline-block;
          margin-right: 1rem;
        }
        &:last-of-type {
          display: inline-block;
        }
      }
      &:hover {
        strong {
          &:first-of-type {
          display: inline-block;
          }
          &:last-of-type {
          display: inline-block;
          }

        }
      }
    }
  }
}
@media (max-width: 47.9375rem) {
  .tab {
    a {
      height: 2.5rem;
      line-height: 2.5rem;
      width: 100%;
      float: none;     
    }
  }
}

/*辛勤工作的人*/
.work {
  z-index: 3;
  @extend %page;
  position: relative;
  margin-bottom: 18.125rem;
  img {
    z-index: 4;
    @extend %responsive-img;
  }
  h2 {
    z-index: 9;
    @include center-content();
    @media (min-width: 48rem) {
      position: absolute;
      bottom: -14.375rem;
      left: 50%;
      transform: translate(-50%);
    }
    width: 67.5rem;
    height: 18.75rem;
    background-color: #fff;
    border-top: .625rem solid $text-color;
    border-bottom: .625rem solid $text-color;
    padding: .6rem 1rem;
    letter-spacing: .1em;
    overflow-y: auto;
    span {
      display: block;
      color: $text-color;
      text-transform: capitalize;
      &:first-of-type {
        font-size: 3.4375rem;
        line-height: 1.3;
      }
      &:last-of-type {
        font-size: .875rem;
        line-height: 1.5;
        letter-spacing: .3em;
      }
    }
  }
}
@media (max-width: 47.9375rem) {
  .work {
    z-index: 3;
    position: static;
    margin-bottom: auto;
    h2 {
      position: static;
      @include center-content();
      height: auto;
      background-color: #fff;
      border-top: 3px solid $text-color;
      border-bottom: 3px solid $text-color;
      bottom: auto;
      margin-bottom: 7rem;
      span {
        display: block;
        color: $text-color;
        text-transform: capitalize;
        &:first-of-type {
          font-size: 2rem;
          line-height: 1.3;
        }
        &:last-of-type {
          font-size: .875rem;
          line-height: 1.5;
          letter-spacing: .3em;
        }
      }
    }
  }
}

/*创新*/
.innovation {
  @extend .clearfix;
  @include center-content();
  li {
    float: left;
    width: 33.33333333%;
    &:not(:last-of-type) {
      padding-right: 2.5rem;
    }
    h3 {
      margin-bottom: 1.875rem;
      strong {
        display: inline-block;
        text-transform: capitalize;
        color: #fff;
        font-weight: normal;
        @include transition(0.4s);
        &:first-of-type {
          margin-bottom: .625rem;
          font-size: 0;
          span {
            display: inline-block;
            line-height: 1.1;
            padding: .2em .6em;
            font-size: 2rem;
            background-color: $text-color;
            @include transition(0.4s);
          }
        }
        &:last-of-type {
          font-size: 1rem;
          letter-spacing: .3em;
          padding: .2em .6em .2em .9em;
          line-height: 1.4;
          background-color: $text-color;
        }
      }
      &:hover {
        strong {
          &:first-of-type {
            span {
              background-color: $main-color;
            }
          }
          &:last-of-type {
            background-color: $main-color;
          }
        }
      }
    }
    p {
      width: 100%;
      border-top: .3125rem solid $text-color;
      border-bottom: .3215rem solid $text-color;
      padding-top: 1em;
      padding-bottom: 1em;
      font-size: .875rem;
      line-height: 1.6;
      overflow-y: auto;
      color: $text-color;
    }
  }
}

@media (max-width: 47.9375rem) {
  .innovation {
    li {
      float: none;
      width: 100%;
      margin-bottom: 2.5rem;
      &:last-of-type {
        margin-bottom: 0;
      }
      &:not(:last-of-type) {
        padding-right: 0;
      }      
    }
  }  
}

/*合作伙伴*/
.cooperation {
  @include center-content();
  margin-top: 2.5rem;
  h3 {
    padding: .2em .6em;
    font-size: 2.25rem;
    line-height: 1.1;
    background-color: $text-color;
    color: #fff;
    margin-bottom: 1rem;
  }
  ul {
    @extend .clearfix;
    li {
      margin: .8rem .3rem;
      float: left;
      a {
        display: block;
        width: 13rem;
        height: 7.7rem;
        padding: .2rem;
        overflow: hidden;
        position: relative;
        img {
          display: block;
          max-width: 100%;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:hover {
          img {
            opacity: .8;
          }
        }
      }
    }
  }
}

/*底部*/
#footer {
  margin-top: 2rem;
  background-color: $text-color;
  color: #909090;
  @extend %page;
  padding-top: 5rem;
  padding-bottom: 5rem;
  a {
    color: #909090;
  }
  .footer-wrapper {
    @include center-content();
    @extend .clearfix;
  }
  .footer-left {
    float: left;
    small {
      display: block;
      font-size: .875rem;
      line-height: 1.714;
      color: #909090;
      text-transform: capitalize;
    }
  }
  .footer-right {
    float: right;
    .follow {
      > span {
        font-size: 1.375rem;
        font-weight: bold;
        text-transform: capitalize;
        margin-right: 1rem;
      }
      > a {
        margin-right: .875rem;
        i {
          font-size: 1.5rem;
        }
      }
      > .weixin {
        display: inline-block;
        position: relative;
        > i {
          font-size: 1.5rem;
        }
        .weixin-img {
          display: none;
          position: absolute;
          bottom: 2.5rem;
          right: 0;
          background-color: #fff;
          padding: .4em;
          font-size: .875rem;
          img {
            display: block;
            width: 9rem;
            height: 9rem;
          }
        }
      }
    }
    .other-info {
      margin-top: .875rem;
      line-height: 1.5;
      p {
        font-size: .75rem;
        margin-bottom: .5em;
        text-decoration: underline;
      }
    }
  }
}

/*底部左侧快捷导航*/
#quickNav {
  $height: 34px;
  margin-bottom: 1rem;
  > ul {
      border-bottom: 1px solid #808080;
      height: $height;
      @extend .clearfix;
      li {
        float: left;
        margin-right: 2rem;
        &:last-of-type {
          margin-right: 0;
        }
        a {
          display: block;
          padding-right: .4em;
          padding-left: .4em;
          font-size: 1rem;
          height: $height;
          line-height: $height;
          strong {
            display: block;
            color: #909090;
            &:last-of-type {
              display: none;
              color: #fff;
            }
            &:last-of-type {
              display: none;
            }
          }
        }
      }
    }
  > .quickSubMenu {
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-bottom: 1px solid #808080;
    @extend .clearfix;
    ul {
      float: left;
      @extend .clearfix;
      li {
        float: left;
        a {
          display: block;
          height: $height;
          line-height: $height;
          position: relative;
          padding-left: .4em;
          padding-right: .8em;
          font-size: .875rem;
          &:after {
            content: "/";
            font-size: 1rem;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
          strong {
            &:last-of-type {
              display: none;
            }
          }
        }
      }
      &:first-of-type {
        width: 26.5rem;
        li {
          &:nth-of-type(4),
          &:last-of-type {
            a {
              &:after {
                content: "";
              }
            }
          }
        }
      }
      &:last-of-type {
        width: 4rem;
        li {
          a {
            &:after {
              content: "";
            }
          }
        }
      }
    }
  }
}
@media (max-width: 74.9375rem){
  #footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #quickNav {
    display: none;
  }
  .footer-right {
    .other-info {
      display: none;
    }
  }  
}

/*回到顶部*/
#toTop {
  display: none;
  z-index: 9999;
  position: fixed;
  @media (min-width: 75rem) {
    bottom: 19.375rem;
    left: 50%;
    transform: translateX(33.75rem);
  }
  @media (max-width: 74.9375rem) {
    bottom: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }
  i {
    $size: 3rem;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid $text-color;
    color: $text-color;
    width: $size;
    height: $size;
    line-height: $size;
    text-align: center;
    font-size: 2rem;
    @include transition();
  }
  &:hover {
    i {
      border-color: $main-color;
      color: $main-color;
    }
  }
}