@charset "UTF-8";
/*! lixinjie 20170731 github.com/xinjie-just/hongyan-phone.git */
@import "variables";
@import "reboot";

/*===首页===*/
/*头部*/
#header {
  $size: 6.25rem;
  background-color: #eee;
  padding-right: $size;
  padding-left: $size;
  @extend .clearfix;
  .logo {
    float: left;
    position: relative;
    width: 18.5rem;
    height: $size;
    i {
      display: block;
      font-size: 3rem;
      color: #000;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
/*导航*/
@media (min-width: 1200px) {
  #nav {
    $size: 6.25rem;
    float: right;
    > ul {
      > li {
        width: 6.4rem;
        position: relative;
        height: $size;
        float: left;
        margin-right: 2.3rem;
        &:last-of-type {
          margin-right: 0;
        }
        > a {
          $size: 6.25rem;
          $height: 6.25rem - .3rem;
          position: relative;
          display: block;
          width: auto;
          height: $size;
          line-height: $height;
          font-size: 1rem;
          border-bottom: 1px solid transparent;
          overflow: hidden;
          @include transition(0.6s);
          strong {
            z-index: 2;
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: $height;
            line-height: $height;
            font-weight: normal;
            color: $text-color;
            text-transform: capitalize;
            text-align: center;
            @include transition();
            &:first-of-type {
              top: 0;
              font-size: .9em;
            }
            &:last-of-type {
              top: $height;
            }
          }
          &:hover,
          &.active {
            border-bottom-width: .3rem;
            border-bottom-color: $text-color;
            strong {
              color: $main-color;
              &:first-of-type {
                top: -$height;
              }
              &:last-of-type {
                top: 0;
              }
            }
          }
        }
        > ul {
          display: none;
          position: absolute;
          top: $size;
          left: 0;
          border-top: 1px solid $text-color;
          border-bottom: 1px solid $text-color;
          background-color: rgba(255, 255, 255, .8);
          li {
            border-top: 1px solid $text-color;
            border-bottom: 1px solid $text-color;
          }
          a {
            display: block;
            padding: .8rem;
            font-size: 0;
            @include transition();
            &:hover {
              background-color: $main-color;
            }
            &::before,
            &::after {
              content: "";
              display: table;
            }
            &::after {
              clear: both;
            }
            strong {
              font-size: .9375rem;
              &:first-of-type {
                float: left;
                text-align: left;
              }
              &:last-of-type {
                float: right;
                text-align: right;
              }
            }
          }
        }
        &.projects {
         > ul{
           width: 18rem;
         }
        }
        &.pure {
          > ul{
            width: 7.5rem;
          }
        }
      }
    }
  }
}

/*主要内容*/
.banner {

}